
body{
    background-color:#1d1d1d;
}

h1{
    color: #ffff;
    text-align: center;
    font-size: 80px;
    font-family:cursive;
}

.image-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-footer{
    color: #ffff;
    font-size: 40px;
    font-family:cursive;
}
.div-footer{
    position: absolute;
    top: 75%;
    left: 33%;
}
